@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Josefin+Sans&family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --first: #c21010;
    --second: #e64848;
    --third: #fffde3;
    --four: #cfe8a9;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* CABECERA Y NAVEGACION ------------------------------------- */

.navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 1rem;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}
.flex{
    height: 70px;
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover{
    text-align: center;
    /* transition: all .25s ease; */
    font-weight: bold;
}

.nav-logo{
    height: 7rem;
    width: 7rem;
    margin-top: 1rem;
}
/* MENU HAMBURGUESA --------------------------------------- */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out; */
    /* transition: all 0.3s ease-in-out; */
    background-color: var(--second);
}

/* CONTENIDO PRINCIPAL ------------------------------------------ */

main{
    width: 100%;
    height: 950px;
    background-color: var(--third);
    /* background-image: url('../assets/images/fondoheadersma.png'); */
}
.flex-row{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-container{
    margin: auto;
    width: 1150px;
    height: 750px;
    background-color: var(--four);
    border: .25rem solid #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* WINDOW NAV ------------------------------------------------ */
    .window-nav{
        width: 100%;
    }
    .window-nav ul{
        font-family: 'Poppins';
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 1rem;
        border-bottom: .25rem solid #fff;
    }
    .window-nav ul li:hover{
        cursor: pointer;
        color: #2a4700;
        /* transition: all .25s ease; */
        font-weight: bold;
    }

/* VENTANAS DE MESAS, ORDEN PENDIENTES Y ORDEN --------------------------- */

    .window-titles{
        margin: 1rem;
        margin-left: 2.5rem;
        color: #2a4700;
    }

    .window-main{
        display: flex;
    }

    /* MESAS ---------------------------- */
    .tables{
        overflow: auto;
        width: 370px;
        height: 550px;
        margin: 1rem 0 3rem 2.5rem;
        border: 4px solid rgb(243, 243, 243);
        border-radius: 1rem;
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-auto-rows: 50px;
        gap: 8px;
    }
    .tables div{
        cursor: pointer;
        color: #2a4700;
        font-size: larger;
        font-weight: bold;
        background-color: rgb(243, 243, 243);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tables div:hover{
        /* transition: all .3s ease; */
        transform: scale(1.1);
    }

    /* PENDIENTES ------------------------ */
    .pending-order{
        width: 130px;
        height: 550px;
        margin: 1rem 0 3rem 2.5rem;
        border: 4px solid rgb(243, 243, 243);
        border-radius: 1rem;
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-auto-rows: 50px;
        gap: 8px;
    }

    .pending-order div{
        cursor: pointer;
        color: #2a4700;
        font-size: larger;
        font-weight: bold;
        background-color: rgb(243, 243, 243);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* PEDIDO ------------------------------ */
    .order{
        overflow: auto;
        width: 490px;
        height: 550px;
        margin: 1rem 0 3rem 1.3rem;
        border: 4px solid rgb(243, 243, 243);
        border-radius: 1rem;
    }
    .order-items{
        overflow: auto;
        height: 300px;
        margin: .5rem 1rem;
        width: 93%;
        color: #2a4700;
        background-color: rgb(243, 243, 243);
    }

    th{
        padding: .1rem;
        text-align: left;
        border-bottom: 1px solid var(--four);
    }
    td{
        height: 30px;
        padding: .1rem;
        border-bottom: 1px solid var(--four);
        border-right: 1px solid var(--four);
    }

    .order div{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order h3{
        color: #2a4700;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .order p{
        background-color: rgb(243, 243, 243);
        padding: .4rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        color: #2a4700;
        border-radius: 1rem;
    }
    /* WINDOW FOOTER --------------------------- */
    .window-footer{
        margin-top: -3rem;
        height: 65px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .window-footer button{
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: 1px;
        background-color: #2a4700;
        color: rgb(243, 243, 243);
        cursor: pointer;
        padding: .25rem 1rem;
        margin-right: 2rem;
        border-radius: 1rem;
        border: 2px solid #2a4700;
    }

    .botonLimpiar{
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: 1px;
        background-color: #2a4700;
        color: rgb(243, 243, 243);
        cursor: pointer;
        padding: .25rem 1rem;
        margin-right: 2rem;
        margin-left: 9rem;
        border-radius: 1rem;
        border: 2px solid #2a4700;
    }

    .botonLimpiar:hover{
        /* transition: all .3s ease ; */
        background-color: rgb(243, 243, 243);
        color: #2a4700;
        border: 2px solid #2a4700;
    }

    .window-footer button:hover{
        /* transition: all .3s ease ; */
        background-color: rgb(243, 243, 243);
        color: #2a4700;
        border: 2px solid #2a4700;
    }
/* PIE DE PAGINA --------------------------------------------- */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--four);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #2a4700;
}

.copy strong{
    letter-spacing: 2px;
}

/* SMALL DEVICES ------------------------------- */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 1rem;
        background: linear-gradient(to bottom, #fff, #fff, rgb(207, 207, 207));
        opacity: .9;
        width: 100%;
        height: 100%;
        /* transition: 0.3s; */
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* PANEL DE CONTROL */
/* .tables .clicked{
    background-color: #2a4700; color: rgb(243, 243, 243);
} */

.tables .mesa:active{ /*Mesas Seleccionadas*/
    border: 3px solid #2a4700;
    background-color: rgb(189, 187, 187);
}

.tables .ocupada{ /*Mesas Ocupadas;*/
    border: 3px solid #2a4700;
    background-color: #e64848;
    color:rgb(0, 0, 0)
}

.tables .ocupada:active{ /*Mesas Ocupadas seleccionadas;*/
    border: 3px solid #2a4700;
    background-color: #dc0a0a;
    color:rgb(0, 0, 0)
}

.pending-order .clicked{ /*Pendiente seleccionado*/
    border: 3px solid #2a4700;
}

.pending-order .unclicked{ /*Pendiente no seleccionado;*/
    background-color: #ffffff; color: rgb(0, 0, 0);
}

#leyendaMesa{
    position: relative;
    margin-top: 300%;
    margin-left: 2rem;
}
